<!-- About Section -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>关于 {{site.eventName}}</h3>
            <div class="row about-details">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="0">
                        <h5>主题演讲</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/conference.jpg" height="128" width="128" alt="Conference">
                        <p>无可否认，Google一直引领着世界技术创新的潮流，我们邀请分享嘉宾为大家奉献最新最热门的Google技术的创新实战，加入我们，一起创新！</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6"></div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
                        <h5>Code Lab</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/workshop.jpg" height="128" width="128" alt="Workshops">
                        <p>分享嘉宾与你一起动手实战，亲自传授编程经验，共同享受代码、编译、Debug的乐趣，还等什么，我们一起 Hello World!</p>
                    </div>
                </div>
                <!--
                <div class="clearfix visible-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="1000">
                        <h5>黑客马拉松</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/hackathon.jpg" height="128" width="128" alt="Hackathons">
                        <p>想来一场真正的 Team Building? 现场组队，现场接受任务，带上你的小伙伴们，一起享受团队作战的快感！</p>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
