<!-- Begin Direction Details-->
<section id="direction-details">
    <div class="content-wrapper">
        <section class="image-section" style="background-image: url('{{ site.baseurl }}/img/direction-details.jpg');">
            <h3>来南阳四处转转</h3>
        </section>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left same-height-wrapper">
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                        <h4>医圣祠</h4>
                        <p>医圣祠位于南阳市老城区东约1公里温凉河畔。门前有石桥名七孔桥,旧称仁济桥。医圣祠是纪念我国东汉末年医圣张仲景的祠宇。它是以张仲景墓为中心的一处群体建筑。墓丘高5米,周长60米,其上筑亭。 
                        <a href="http://nanyang.alltrip.cn/jingdian/955">这里查看更多</a>。</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                        <h4>武侯祠</h4>
                        <p>南阳武侯祠位于南阳市区西卧龙岗上，是纪念三国时期杰出的政治家、思想家、军事家诸葛亮躬耕于南阳的祠宇。
                        <a href="http://nanyang.alltrip.cn/jingdian/951">这里查看更多</a>。
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <div class="card">
                        <h4>南阳府衙</h4>
                        <p>南阳府衙是目前我国唯一保存比较完整的封建社会府级官署衙门，是集古建筑陈列、衙署文化研究为一体的专题博物馆。
                        <a href="http://nanyang.alltrip.cn/jingdian/9093">这里查看更多</a>。
                        </p>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card questions">
                        <h4>其他推荐</h4>
                        <div class="col-md-4 col-xs-12">
                            <h5>住宿</h5>
                            <ul>
                                <li><a href="#" target="_blank">虚位以待</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>特色小吃</h5>
                            <ul>
                                <li><a href="#" target="_blank">虚位以待</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>游玩推荐</h5>
                            <ul>
                                <li><a href="#" target="_blank">虚位以待</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
         
        </div>
    </div>
</section>
<section id="sponsors">
    <div class="content-wrapper">
            <span class="btn btn-primary waves-element waves-button waves-light waves-will-raise">
                             <a href="{{ site.baseurl | append: site.c4sponsorsUrl }}">成为本活动赞助
商/合作伙伴</a>
            </span>
    </div>
</section>
<!-- End Direction Details -->