<!-- Begin Sponsors Section -->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>赞助商</h3>
            <h5>顶级赞助商</h5>
            <ul class="list-inline">
                <li>
                    <a href="https://www.google.com/ncr" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/google.svg" alt="sponsor-1">
                    </a>
                </li>
                <li>
                    <a href="http://www.gdgny.org/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-lviv.svg" alt="sponsor-2">
                    </a>
                </li>
            </ul>
            <h5>金牌赞助商</h5>
            <ul class="list-inline">
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/google.svg" alt="sponsor-1">
                    </a>
                </li>

            </ul>
            <h5>合作伙伴</h5>
            <ul class="list-inline">
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/google.svg" alt="sponsor-1">
                    </a>
                </li>

            </ul>
            <span class="btn btn-primary waves-element waves-button waves-light waves-will-raise">
                             <a href="{{ site.baseurl | append: site.c4sponsorsUrl }}">成为本活动赞助
商/合作伙伴</a>
            </span>
        </div>
    </div>
</section>
<!-- End Sponsors Section -->