<!-- Begin Statistic Section -->
<section id="statistic" class="parallax" style="background-image: url({{ site.baseurl }}/img/statistic.jpg);">
        <div class="overlay"></div>
        <div class="content-wrapper">
                <div class="col-lg-10 col-lg-offset-1">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
                                        <div class="stat"><span class="timer" data-from="0" data-to="82000">1000</span>+</div>
                                        <div class="stat-info">参会嘉宾</div>
                                        <hr>
                                        <p class="small">可容纳</p>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
                                        <div class="stat"><span class="timer" data-from="0" data-to="6">7</span>+
                                        </div>
                                        <div class="stat-info">小时</div>
                                        <hr>
                                        <p class="small">纯技术分享</p>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
                                        <div class="stat"><span class="timer" data-from="0" data-to="6">10</span>+</div>
                                        <div class="stat-info">演讲嘉宾</div>
                                        <hr>
                                        <p class="small">为你分享更多精彩</p>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
                                        <div class="stat"><span class="timer" data-from="0" data-to="3">3</span>
                                        </div>
                                        <div class="stat-info">次抽奖</div>
                                        <hr>
                                        <p class="small">让你学到知识，更得到礼物</p>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- End Statistic Section -->
